﻿@using HS.ED.WebUI.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Employee Directory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Employee Directory", "Index", "Directory", null, new { @class = "navbar-brand" })
            </div>

            <div class="nav navbar-nav navbar-text navbar-right" >
                @if (HttpContext.Current.User.Identity != null && HttpContext.Current.User.Identity.IsAuthenticated) { 
                <label>@HttpContext.Current.User.Identity.Name</label>
                @Html.ActionLink("Logout", "logout", "account", null, new { @class="btn btn-link"})
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData[TempDataKeys.SUCCESS] != null) { 
            <div class="alert alert-success">@TempData[TempDataKeys.SUCCESS]</div>
        }
        @if (TempData[TempDataKeys.FAILURE] != null) { 
            <div class="alert alert-danger">@TempData[TempDataKeys.FAILURE]</div>
        }
        @if (TempData[TempDataKeys.ERRORS] != null) { 
            <div class="alert alert-warning">@TempData[TempDataKeys.ERRORS]</div> 
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sample App for an Employee Directory</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
