﻿@model string
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search", "Directory", new{find=string.Empty}, FormMethod.Get))
{
    Html.AntiForgeryToken();
    <section class="container">
        <div id="searchBox" class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input type="text" name="find" class="form-control input-lg" placeholder="Search for..." value="@(Model)">
                    <span class="input-group-btn">
                        <button class="btn btn-default input-lg" type="submit">Find!</button>
                    </span>
                </div>
            </div>
        </div>
    </section>
}
