﻿@model HS.ED.WebUI.Models.EmployeeModel
@{
    ViewBag.Title = "Create";
}

<h2>Add a new Employee</h2>
<hr />

<section class="container">
    @Html.ValidationSummary()

    
    @using (Html.BeginForm("Create", "Directory", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Job Title</label>
            <div class="col-sm-6">@Html.TextBoxFor(x=>x.JobTitle, new {@class="form-control"})</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Location</label>
            <div class="col-sm-6">@Html.TextBoxFor(x=>x.Location, new {@class="form-control"})</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">@Html.TextBoxFor(x=>x.Email, new {@class="form-control"})</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-6">@Html.TextBoxFor(x=>x.Phone, new {@class="form-control"})</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label checkbox">&nbsp;</label>
            <div class="col-sm-6">@Html.CheckBoxFor(x => x.Status, new { }) Active</div>
        </div>
     
        <button type="submit" class="btn btn-primary">Submit</button>   
        @Html.ActionLink("Cancel", "Index")
    }
</section>

