﻿@model HS.ED.WebUI.Models.EmployeeModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Employee</h2>
<hr />

<section class="container">
    @Html.ValidationSummary()


    @using (Html.BeginForm("Edit", "Directory", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-6 staticAlign">@Html.DisplayFor(x => x.Name, new { @class = "form-control" })
                @Html.HiddenFor(x => x.Name)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Job Title</label>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.JobTitle, new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Location</label>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.Location, new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-6">@Html.TextBoxFor(x=>x.Phone, new {@class="form-control"})</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Status</label>
            <div class="col-sm-6 staticAlign">@Html.CheckBoxFor(x => x.Status, new { @class="checkbox-inline" }) Active</div>
        </div>

        @Html.HiddenFor(x=>x.Id)
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" 
                data-userid="@Model.Id" data-username="@Model.Name" >Delete</button>
        @Html.ActionLink("Cancel", "Index")
    }
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
                Are you sure you wish to delete this employee: <span id="username" class="text-primary"/>?
            </div>
            <div class="modal-footer">

                @using (Html.BeginForm("delete", "directory", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <input type="hidden" id="Id" name="Id" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                
                <script language="javascript">
                    $('#myModal').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget);
                        var userid = button.data("userid");
                        var username = button.data("username");

                        var modal = $(this);
                        modal.find("#username").text(username);
                        modal.find("#Id").val(userid);
                    })
                </script>
                }
            </div>
        </div>
    </div>
</div>
