﻿@using HS.ED.WebUI.HtmlHelpers
@model HS.ED.WebUI.Models.EmployeeViewModel

@{
    ViewBag.Title = "Search";
}

@Html.Partial("EmployeeSearch", Model.Find)

<div class="container">
    <div id="employeeResults" class="row">
        <hr />
        <table class="table table-condensed table-hover" width="100%">
            <caption>Here are the employees found from your search criteria</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.Name</td>
                        <td>@employee.JobTitle</td>
                        <td>@employee.Location</td>
                        <td>@employee.Email</td>
                        <td>@employee.Phone</td>
                        @if(Model.CanEdit){ 
                                <Td>@Html.ActionLink("Edit", "Edit", new {Id=employee.id})</Td>
                            }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.PaginationLinks(Model.PaginationInfo, x => Url.Action("Search", new { find = Model.Find, page = x}))
        </div>
        <div class="col-md-4 text-right">
            @if(Model.CanCreate){
                <div>@Html.ActionLink("Add a new employee", "Create", "directory", null, new { @class = "btn btn-link" })</div>
            }
        </div>
    </div>
</div>

