﻿@model HS.ED.WebUI.Models.LoginUser

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2>Login</h2></div>
            <div class="panel-body">
                @Html.ValidationSummary()

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Username</label>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                    </div>
                    
                    <div class="form-group">
                        <label>Password</label>
                        @Html.PasswordFor(x => x.Password, new { @class="form-control"})
                    </div>
                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>  
                    <button type="submit" class="btn btn-primary">Login</button> 
                }
            </div>
        </div> 
    </div> 
</div>


